<!-- accounts/templates/ldapuser_form.html -->
{% extends 'body.html' %}
{% load addcss %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="rounded p-4" style="background-color:white; opacity: 0.9; ">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              {{ object }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock %}
