<!-- accounts/templates/ldapuser_form.html -->
{% extends 'body.html' %}
{% load addcss %}

{% block content %}
<div>
<form method="POST" class="post-form">{% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}
    {{ field | addcss:"form-control" }}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endfor %}
  <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
{% endblock %}
