<!-- accounts/templates/registration/login.html -->
{% extends 'body.html' %}
{% load addcss %}
{% load staticfiles %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <img src="{% static 'img/openlogo-nd.svg' %}" class="mx-auto d-block mb-5">
    <div class="rounded p-4" style="background-color:white; opacity: 0.9; ">
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
            {{ field.label_tag }}
            {{ field | addcss:"form-control" }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text | safe }}</small>
            {% endif %}
            </div>
            {% endfor %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
          </form>
        </div>
      </div>
      <a href="{% url 'signup' %}">Sign up</a>
    </div>
    </div>
    <div class="col-sm">
  </div>
</div>
{% endblock %}
