{% extends 'head.html' %}
{% block body %}
<body style="background: black">
  <header>
  </header>

  {% if messages %}
  <div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message|safe }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% block content %}
  {% endblock %}

</body>
{% endblock %}
